<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hakka.jimbowhy.remote" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		
		<activity
			android:enabled="true"
            android:name=".MainTest"
            android:label="@string/app_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
		
		<service
			android:label="@string/app_name" 
			android:name=".RemoteService"
			android:process=":remote">
            <intent-filter>
                <action android:name="hakka.jimbowhy.remote.RemoteService"/>
				<!--
					<data android:scheme="ipc" android:host="hakka.jimbowhy" />
				-->
            </intent-filter>
        </service>
		
		<!--
			1. static register
		
		-->
		<receiver android:name=".RemoteReceiver">
			<intent-filter>
				<action android:name="hakka.jimbowhy.remote.MESSAGE"/>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.APP_BROWSER" />
				
			</intent-filter>
		</receiver>
		
    </application>

</manifest>
